<div class="card card-body bg-light">
  <form class="form-horizontal" [formGroup]="userForm" (ngSubmit)="submitUser()">
    <div class="form-group row required">
      <label for="title" class="col-sm-2 col-form-label">First Name:</label>
      <div class="col-sm-6">
        <input type="text" id="firstName" class="form-control" formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && firstName.errors }" />

        <div *ngIf="submitted && firstName.errors" class="invalid-feedback">
          <div *ngIf="firstName.errors.required">First Name is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="priority" class="col-sm-2 col-form-label">Last Name:</label>
      <div class="col-sm-6">
        <input type="text" id="lastName" class="form-control" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && lastName.errors }" />

        <div *ngIf="submitted && lastName.errors" class="invalid-feedback">
          <div *ngIf="lastName.errors.required">Last Name is required</div>
        </div>

      </div>
    </div>
    <div class="form-group row required">
      <label for="priority" class="col-sm-2 col-form-label">Employee ID:</label>
      <div class="col-sm-6">
        <input type="text" id="employeeId" class="form-control" formControlName="employeeId" [ngClass]="{ 'is-invalid': submitted && employeeId.errors }"/>

        <div *ngIf="submitted && employeeId.errors" class="invalid-feedback">
          <div *ngIf="employeeId.errors.required">Employee Id is required</div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-offset-2 col-sm-6" style="text-align: center;margin-left:20px;">        
        <button type="submit" class="btn btn-info">{{!isUpdate ? "Add User" : "Update"}}</button>&nbsp;
        <button type="button" class="btn btn-danger" *ngIf="!isUpdate" (click)="resetForm()">Reset</button>&nbsp;
        <button type="button" class="btn btn-secondary" *ngIf="isUpdate" (click)="cancelEdit()">Cancel</button>
      </div>
    </div>
  </form>
</div>